<p id="notice"><%= notice %></p>

<h1>Task Items</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_items.each do |task_item| %>
      <tr>
        <td><%= task_item.description %></td>
        <td class="btn btn-default"><%= link_to 'Show', task_item%></td>
        <td class="btn btn-default"><%= link_to 'Edit', edit_task_item_path(task_item) %></td>
        <td class="btn btn-default"><%= link_to 'Destroy', task_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn btn-default"><%= link_to 'New Task Item', new_task_item_path %></button>
